h1 {
background-color: rgb(253, 218, 166);text-align: center;
}
h2{
    color:coral;text-align: center;
}
body {

    background-color: rgb(253, 230, 198);text-align: center;
    margin:0%

}
p {
    font-size: 20px;
}
